@import "../../../../../styles.scss";

.login-auth-page {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: $color-4;
  color: $color-3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  .login-auth-wrapper {
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .login-social-zone {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      width: 100%;
      .social-btn {
        border: 0;
        padding: 0.5rem 2rem;
        width: 100%;
        font-size: $font-size-2;
        border-radius: $border-radius-2;
        box-shadow: $shadow-1;
        border: solid 1px $color-4;
        background-color: $color-4;
        font-weight: 600;

      }
      .social-btn.btn-fb {
        background-color: #3a61b3;
        color: $color-4
      }
      .social-btn.btn-apple {
        background-color: #1a1a1a;
        color: $color-4;
      }
    }
    .separator {
      width: 100%;
      margin: 2rem 0;
      border-bottom: solid 1px $color-2;
      opacity: 0.2;
    }
    .login-auth-form {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      flex-direction: column;
      label {
        padding-bottom: 0.35rem;
        font-weight: 600;
        display: inline-block;
        margin: 0;
      }
      .form-steps {
        padding: 0.5rem 0;
        .link {
          color: $color-2;
          font-size: 85%;
          font-weight: 500;
          text-decoration: underline;
          :hover {
            color: $color-1;
          }
        }
      }
      .login {
        color: $color-4;
        margin: 1rem 0;
        background-color: $color-1;
      }
    }
    .form-group {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      input {
        border: solid 1px #e7e7e7;
        border-radius: $border-radius-1;
        height: 30px;
        padding: 0.25rem 0.5rem;
        font-size: 90%;
      }
    }
  }
  input.ng-invalid.ng-touched {
    border: solid 2px red !important;
  }
  .social-btn {
    border: 0;
    padding: .5rem 2rem;
    width: 100%;
    font-size: $font-size-2;
    border-radius: $border-radius-2;
    box-shadow: $shadow-1;
    border: solid 1px $color-4;
    background-color: $color-4;
    font-weight: 600;
}
}
